body {
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.gallery {
    padding: 0;
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

p {
    color:  #C25100;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-style: solid;
    border-width: 1px;
    border-color: #dddddd;
    display: block;
}

li{
    float: left;
}

li a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
}