{% extends 'base.html' %}
{% load static %}
{% load staticfiles %}
{% block title %} lane {% endblock %}

{% block body %}
    <div class="gallery">
    <div class="row">
        <div class="column">
            {% if all_images %}
            {% for image in all_images %}
                    <img src="{{ image.image.url }}" alt="Cinque Terre" width="600" height="400">
            {% endfor %}
            {% else %}
            <p>no images yet</p>
            {% endif %}
        </div>
    </div>

    <a href="{% url 'image_upload' %}">++ add an image</a>
    </div>



{% endblock %}
